.form {
  width: 90%;
  margin: auto;
  max-width: 550px;
}

.form input,
.form label {
  color: white;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}

.form input,
.form button,
.form label {
  display: block;
  margin-bottom: .5rem;
}

.form button,
.form input,
.form textarea {
  outline: none;
}

.form input,
.form textarea {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
  font-size: 90%;
  width: 100%;
  height: 30px;
  color: rgb(53, 53, 53);
  text-shadow: none;
}
.form textarea {
  height: 50px;
}
.form label {
  margin-top: 10px;
}
.form button {
  color: white;
  border: 0;
  background-color: #473d3c;
  padding: .5rem;
  margin-top: 20px;
}
.form button:hover {
  cursor: pointer;
  border: 1px solid #fd02fd;
  border-radius: .1rem;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
  --accent: #fd02fd;
}

.form-container {
  width: 90%;
}

.form p {
  color: white;
}