/* Nav Area */
.nav-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-bar {
  max-width: 1200px;
  min-width: 900px;
  margin-top: 0;
  display: flex;
  position: relative;
  height: 80px;
  text-align: right;
}

.logo {
  position: relative;
  height: 100%;
  width: 100%;
}

.nav {
  height: 100%;
  display: flex;
}
.nav a {
  margin: 0 20px;
  font-size: 120%;
  color: white;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}