.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color:white;
  font-size: xx-large;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}

.subtitle {
  color:white;
  font-size: x-large;
  font-style: italic;
}

.editbutton_container {
  margin-top: .25rem;
}

/* entry module */
.entry_module_wrapper {
  max-width: 1200px;
  min-width: 900px;
  display: flex;
  justify-content: space-between;
}

.contestant_list {
  display: flex;
  flex-direction: column;
}

.contestant_list a {
  color:white;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
  margin-bottom: 1rem;
}

.contestant {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contestant a{
  color: white;
  text-shadow: none;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.contestant button {
  height: 75%;
  background-color: #473d3c;
  border: 1px solid #2a2a2a;
  border-radius: .25rem;
  border: 0;
  color:white;
  padding: .25rem;
}

.contestant button:hover {
  cursor: pointer;
  border: 1px solid #fd02fd;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}

.signup {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
}

.button {
  background-color: #473d3c;
  border: 1px solid #2a2a2a;
  border-radius: .25rem;
  border: 0;
  color:white;
  padding: .5rem;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #fd02fd;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}

/* bracket styles */
.bracket_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.bracket_wrapper a {
  color:white;
  font-size: x-large;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}

.start {
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
}

.start a {
  text-shadow: none;
  font-size: large;
  font-style: italic;
}

.start button {
  background-color: #473d3c;
  border-radius: .25rem;
  border: 0;
  color:white;
  padding: .5rem;
  margin-left: 1rem;
}

.start button:hover {
  border: 1px solid #fd02fd;
  text-shadow:
  -1px 1px 2px #fd02fd,
  1px 1px 2px #fd02fd,
  1px -1px 0 #fd02fd,
  -1px -1px 0 #fd02fd;
}